<style type="text/css">
  .modal_box {
    height:80vw;
  }
  .modal_box_srcollbar {
      overflow:auto;
      width:50vw;
      padding:5vw;
      border:1px solid #000;
      background-color:#F9F9F9;
      color:#000;
      -webkit-overflow-scrolling: touch;
      font-family: Helvetica , '游ゴシック' , 'Yu Gothic' , sans-serif;
  }

</style>
<div  class="modal_box">
<div class="modal_box_srcollbar">
  <div *ngIf="articleContent|async as safeHtmlArticle; else prog">
  <p [innerHTML]="safeHtmlArticle"></p>
  </div>
</div>
  <ng-template #prog>Now Loading ... </ng-template>
</div>
