<ion-header translucent>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>自己紹介</ion-title>
      </ion-toolbar>
</ion-header>,
<ion-content fullscreen>
  <ion-card>
    <ion-avatar><img  src="assets/red-eyes-vega.jpg" /></ion-avatar>
    <img  src="assets/red-eyes-vega.jpg" />
    <ion-card-header>
      <ion-card-subtitle>自己紹介</ion-card-subtitle>
      <ion-card-title>WO8TimeSpace175RZERO2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>
        <ion-text color="dark">
      幻魔大戦の面白さに気づいて以来、その面白さと秘密の解明に取り組んできました。最近になり、幻魔大戦の謎の解明に至ったため、この静的サイトで公開させて頂こうと思っております。
      </ion-text>
        </p>
        <p>
            <ion-text color="tertiary">ご指摘やご意見などありましたら、こちらのIssuesページにIssueをご起票いただきますようお願いします。即時の対応は致しかねるため、あしからず、ご了承ください。</ion-text>
            <ion-button color="medium" (click)="openLink('https://github.com/WO8TimeSpace175ZERO2/genma-taisen-to-the-north-of-kanamachi/issues')" >GitHubのIssueページへ</ion-button>
        </p>
        <p>
            <a  (click)="openLink('https://github.com/WO8TimeSpace175ZERO2/genma-taisen-to-the-north-of-kanamachi/issues')" >https://github.com/WO8TimeSpace175ZERO2/genma-taisen-to-the-north-of-kanamachi/issues</a>
           
        </p>
        <p>
            <ion-text color="secondary">当サイトはIonic4とAngular8で作られています。ソースコードはこちらです。 <ion-button color="medium" (click)="openLink('https://github.com/WO8TimeSpace175ZERO2/genma-taisen-to-the-north-of-kanamachi')" >GitHubへ</ion-button></ion-text>
        </p>
        <p>
            <a  (click)="openLink('https://github.com/WO8TimeSpace175ZERO2/genma-taisen-to-the-north-of-kanamachi')" >https://github.com/WO8TimeSpace175ZERO2/genma-taisen-to-the-north-of-kanamachi</a>   
           
        </p>
    </ion-card-content>
  </ion-card>

</ion-content>