<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      金町の北上で幻魔大戦を叫んだけもの
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/genma-wars-home.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>幻魔大戦とは</ion-card-subtitle>
        <ion-card-title>1967年に週刊少年マガジンで連載されていた日本ワイドスクリーン・バロックSFの古典的傑作。</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>週刊少年マガジン1967年13号（3月26日号）で『サイボーグ009 地下帝国ヨミ編』を完結させた石森章太郎（後に石ノ森章太郎と改名）が、同・週刊少年マガジンで連載されていたサイボーグSFアクション漫画『8マン』の原作者・平井和正と共作し世に放った超能力SFバトル漫画（1967年18号-52号）。1967年当時の連載は人気があったにも関わらず、諸事情で打ち切りになってしまうが、後の1979年に平井和正により小説化されたシリーズが1983年の角川映画版幻魔大戦（りんたろう監督／大友克洋キャラデザ）との相乗効果も相まって2000万部を超えるヒットを飛ばした。</p>
      </ion-card-content>
    </ion-card>
</ion-content>
