<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      金町の北上で幻魔大戦を叫んだけもの
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/genma-wars-home.jpg" alt="home logo" ></ion-img>
      <ion-card-header>
        <ion-card-subtitle>幻魔大戦とは</ion-card-subtitle>
        <ion-card-title>1967年に週刊少年マガジンで連載されていた日本ワイドスクリーン・バロックSFの古典的傑作。</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>週刊少年マガジン1967年13号（3月26日号）で『サイボーグ009 地下帝国ヨミ編』を完結させた石森章太郎（後に石ノ森章太郎と改名）が、同・週刊少年マガジンで連載されていたサイボーグSFアクション漫画『8マン』の原作者・平井和正と共作し世に放った超能力SFバトル漫画（1967年18号-52号）。1967年当時の連載は人気があったにも関わらず、諸事情で打ち切りになってしまうが、後の1979年に平井和正により小説化されたシリーズが1983年の角川映画版幻魔大戦（りんたろう監督／大友克洋キャラデザ）との相乗効果も相まって2000万部を超えるヒットを飛ばした。</p>
        <p>2014年8月より幻魔大戦シリーズ 最新作「幻魔大戦 Rebirth」が小学館　少年サンデー系 Webコミックサイト で配信中</p>
        <p>最新エピソードはiOSのネイティブアプリ または AndroidのネイティブアプリをスマホにインストールするとFREEで閲覧できます。</p>
        <p>
          <img src="https://www.sunday-webry.com/imgs/icon.png" alt="sunday webly logo"  />
          <img src="https://www.sunday-webry.com/imgs/top_main_btn_appstore.png" alt="top_main_btn_appstore" (click)="openLink('https://apps.apple.com/JP/app/id1252920795')" />
          <img src="https://www.sunday-webry.com/imgs/top_main_btn_google.png" alt="top_main_btn_google" (click)="openLink('https://play.google.com/store/apps/details?id=jp.co.shogakukan.sunday_webry')" />  
        </p>

        <p>
            「幻魔大戦 Rebirth」の単行本は現在第1巻～第9巻が発売／配信中。
            <span><img src="/assets/genma-taisen-rebirth20140807.jpg"   alt="幻魔大戦 Rebirth 2014年8月の扉絵"   (click)="openLink('https://www.amazon.co.jp/s?k=%E5%B9%BB%E9%AD%94%E5%A4%A7%E6%88%A6Rebirth&i=digital-text&s=review-rank&__mk_ja_JP=%E3%82%AB%E3%82%BF%E3%82%AB%E3%83%8A&qid=1561202154&ref=sr_st_review-rank')" /></span>
        </p>

        <p><ion-thumbnail><img src="/assets/genma-taisen-rebirth.jpg" alt="hanashi" (click)="openLink('https://www.sunday-webry.com/series/748')" /></ion-thumbnail>  <ion-button color="danger" (click)="openLink('https://www.sunday-webry.com/series/748')" >サンデーうぇぶりのWebは現在なぜか閉局中</ion-button></p>



      </ion-card-content>
    </ion-card>
</ion-content>
